<template>

    <v-card
    :data-uuid="uuid"
    >
      <v-img
        class="white--text"
        height="200px"
        :src="cover"
      >
        <v-card-title class="align-end fill-height">{{ title }}</v-card-title>
      </v-img>

      <v-card-text>
        <span>{{ description }}</span><br>
        <span class="text--primary">
          <span></span><br>
          <span>Al & Ro </span>
        </span>
      </v-card-text>

      <v-card-actions>
          <v-btn icon>
          <v-icon>share</v-icon>
        </v-btn>
        <v-btn icon>
        <v-icon>search</v-icon>
      </v-btn>
      </v-card-actions>
    </v-card>

</template>

<script>

    export default {
        props: ['title', 'description', 'author', 'uuid', 'cover']
    }

</script>
