<template>
    <v-layout>
        <v-container fluid>
            <v-row>
                <v-col lg="3" xs="12" sm="12">
                    <carnet
                        title="Voyage en France 2019"
                        description="Roadtrip en van pour découvrir la France"
                        author="Al & Ro"
                        uuid="7fe93cf7-ad5d-4c18-8b0f-0c50a933036c"
                        cover="https://placeimg.com/640/480/people"
                    >

                    </carnet>

                </v-col>
            </v-row>
        </v-container>
        <template>
            <v-btn
            class="bottom-add-button"
            color="pink"
            dark
            small
            fixed
            bottom
            right
            fab
            >
            <v-icon>add</v-icon>
        </v-btn>
    </template>
</v-layout>
</template>

<script>

    import carnet from '~/components/carnet.vue';
    export default {
        components: {
            carnet
        }
    }
</script>

<style>
.bottom-add-button {
    bottom: 50px;
}
</style>
