<template>
    <v-app id="inspire">
        <v-content>
            <v-container
            class="fill-height"
            fluid
            >
            <v-row
            align="center"
            justify="center"
            >
            <v-col
            cols="12"
            sm="8"
            md="4"
            >
            <v-card class="elevation-12">
                <v-toolbar
                color="primary"
                dark
                flat
                >
                <v-toolbar-title>Login form</v-toolbar-title>
                <div class="flex-grow-1"></div>

            </v-toolbar>
            <v-card-text>
                <v-form @submit="login">
                    <v-text-field
                    label="Login"
                    name="login"
                    prepend-icon="person"
                    type="text"
                    ></v-text-field>

                    <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="lock"
                    type="password"
                    ></v-text-field>
                    <input type="submit" name="" value="sub">
                </v-form>
            </v-card-text>
            <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="primary">Login</v-btn>
            </v-card-actions>
        </v-card>
    </v-col>
</v-row>
</v-container>
</v-content>
</v-app>
</template>

<script>
    export default {
        props: {
            source: String,
        },
        data: () => ({
            drawer: null,
        }),
        methods: {
            login: function (e) {
                console.log('ima');
                this.$auth.loginWith('local', {
                    data: {
                        identifier: 'romain',
                        password: 'testtest'
                    }
                }).then(() => {
                    console.log(this.$auth.user);
                });
                e.preventDefault();
            }
        }
    }
</script>
