<template>
  <v-app >
      <template>
        <v-content>
            <v-container fluid>
                <nuxt />
            </v-container>

        </v-content>
      </template>
      <template>
  <v-bottom-navigation
    color="deep-purple"
    horizontal
    fixed
  >
    <v-btn>
      <span>Carnet</span>
      <v-icon>history</v-icon>
    </v-btn>

    <v-btn>
      <span>Mes liens partagés</span>
      <v-icon>favorite</v-icon>
    </v-btn>

    <v-btn v-on:click="logout()">
      <span>Logout</span>
      <v-icon>place</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>
  </v-app>
</template>

<script>
export default {
  data () {
      return {
             drawer: true,
             items: [
               { title: 'Home', icon: 'dashboard' },
               { title: 'About', icon: 'question_answer' },
             ],
           }
  },
  methods: {
      logout: function () {
        this.$auth.logout();
      }
  }
}
</script>
